html{
    background-color: rgb(29, 99, 15);
}

#gameCanvas {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}


#score {
    text-align: center;
    font-size: 50px;
    color: yellow;
    font-weight: bold;
}